@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Inter', sans-serif !important;
}

/* Header */
.navbar-fixed{
    @apply fixed z-[9999] bg-white bg-opacity-80;
    backdrop-filter: blur(5px);
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1)
}

.hamburger-line{
    @apply w-[30px] h-[2px] my-2 block bg-dark transition duration-300 ease-in-out;
}

#hamburger-active > span:nth-child(1) {
    @apply rotate-45;
}

#hamburger-active > span:nth-child(2) {
    @apply scale-0;
}

#hamburger-active > span:nth-child(3) {
    @apply -rotate-45;
}

.icon{
    @apply w-9 h-9 mr-3 rounded-full flex justify-center items-center border border-slate-300 hover:border-primary hover:bg-primary hover:text-white;
}